body {
 /* background-color:#40DFBF; */
  background: radial-gradient(ellipse farthest-corner at 100px 150px, #d2faeb, #55cfa1);
  padding: 0;
  margin: 0;
  
}
.start__page {
  margin: 0 auto;
  background-color:white;
  width: 1240px;
}
.start__page__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1240px;
  height: 220px;
  margin: 0px auto;
  font-size: 50px;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #1E582F;
}
.start__page__information {
  display: grid;
  margin: 0 auto;
  width: 1240px;
}

.footer{
  height: 200px;
  background: linear-gradient(to top, #77f3c3, #fdfdfd);
}